{% extends "base.html" %}
{% block head %}
    <!--CSS ICONS-->
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-r.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css' rel='stylesheet'>

    <style id='image_transition'></style>
{% endblock %}

{% block content %}
<div id='overlay'>
    <div id='overlay_container'>
        <div id='focus_image'></div>
        <div id='focus_info'>
            <!-- not populated by django directly but by AJAX -->
            <div id='focus_date'>
            </div>
            <div id='focus_votes'>
            </div>
            
            <div id='focus_tags'>
            </div>
            {% if user.is_authenticated %}
            {% csrf_token %}
            <div id='focus_add_tag' class='searchbox_wrapper'>
                <input type="text" placeholder="Enter tag" class='textbox' id="add_tag_input" onfocusout="hide_add_tag_suggestions()" autocomplete="off"></input>
                <div class="popup_text_box" id='add_tag_box_popup'>
                </div>
                <p onclick="send_add_tag()"><br><br><br>Click this!!!!! to add tag</p>
            </div>
            {% endif %}
        </div>    
    </div>
    <div id='overlay_bg' onclick="remove_overlay()"></div>


</div>
<div class='container' id='container' class='container'>
    <div class="tag-con">
        <div class="tags">
            {% for tag in image_tags %}
            <a href="/gallery/?tag_list={{tag.name}}" class="tag {{ tag.color }}">{{tag.name}}</a> <br>
            {% endfor %}
        </div>    
    </div>
    <div class='imagecontainer'>
        <div class="gallery">
            {% if page_images %}
                {% for image in page_images %}
                        {% if image.is_video %}
                        <div class='image video'>
                        <img class="thumb" src="/thumbnails/{{ image.id }}.jpg" alt="">
                        {% else %}
                        <div class='image'>
                        <img class="thumb" src="/thumbnails/{{ image.id }}.jpg" alt="">
                        {% endif %}
                    </div>
                {% endfor %}
                </ul>
            {% else %}
                <p>No images are available.</p>
            {% endif %}
        </div>
        <div class='paginator'>
            {% if page_images.has_previous %}
            <a class='page_button' id='first_page' href="?page=1" class=prev><i class="gg-arrow-left-r"></i></a>
            <a class='page_button' href="?page={{ page_images.previous_page_number }}" class=prev><i class="gg-arrow-left-o"></i></a>
            {% else %}
            <a class='page_button deactivated' id='first_page' href="?page=1" class=prev><i class="gg-arrow-left-r"></i></a>
            <a class='page_button deactivated' href="?page=1" class=prev><i class="gg-arrow-left-o"></i></a>
            {% endif %}
            <p class='page_count'> {{page_images.number}} </p>
            {% if page_images.has_next %}
            <a class='page_button' href="?page={{ page_images.next_page_number }}" class=next><i class="gg-arrow-right-o"></i></a>
            <a class='page_button' id='last_page' href="?page={{ page_images.paginator.num_pages }}" class=next><i class="gg-arrow-right-r"></i></a>
            {% else %}
            <a class='page_button deactivated' href="?page={{ page_images.number }}" class=next><i class="gg-arrow-right-o"></i></a>
            <a class='page_button deactivated' id='last_page' href="?page={{ page_images.paginator.num_pages }}" class=next><i class="gg-arrow-right-r"></i></a>
            {% endif %}
        </div>
    </div>
</div>

<!-- the place you load this is relevant! placing in the head doesn't work. -->
{% load static %}
<script src="{% static 'gallery/gallery.js' %}"></script>
{% endblock %}
