{% extends "base.html" %}
{% block head %}
    <!--CSS ICONS-->
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-r.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/close.css' rel='stylesheet'>

    <style id='image_transition'></style>
{% endblock %}

{% block content %}
<div id='overlay'>
    <div id='overlay_container' class='hide_scrollbar remove_horizontal_scrolling'>
        <div id='focus_image'></div>
        <div id='focus_info'>
            <!-- not populated by django directly but by AJAX -->
            <!--
            honestly i don't care about votes or the date tbh
            <div id='focus_date'>
            </div>
            <div id='focus_votes'>
            </div>
            -->

            <div id='focus_tags' class='tags hide_scrollbar'>
            </div>
            {% if user.is_authenticated %}
            {% csrf_token %}
            <div id="focus_bottom_row">
                <div id='focus_add_tag' class='searchbox_wrapper'>
                    <input type="text" placeholder="Enter tag..." class='textbox' id="add_tag_input" onfocusout="hide_add_tag_suggestions()" autocomplete="off"></input>
                    <div class="popup_text_box" id='add_tag_box_popup'>
                    </div>
                    <a onclick="send_add_tag()" class='search_button'><svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                        d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                        fill="currentColor"
                        />
                    </svg></a>
            
                </div>
                {% if perms.gallery.delete_tag %} 
                <button onclick="delete_tag_toggle()" id="focus_delete_tag" class="delete"><i class="gg-trash"></i></button>
                {% endif %}
    
            </div>
            {% endif %}
        </div>    
    </div>
    <div id='overlay_bg' onclick="remove_overlay()" class="recolor"></div>


</div>
<div class='container' id='container' class='container'>
    <div class="tag-con">
        <div class="tags hide_scrollbar">
            {% for tag in image_tags %}
            <div class='tag_paper'>
                <div class='tag_left_part {{ tag.color }}'>
                </div>

                <div class='tag_text'>
                    <a href="/?tag_list={{tag.name}}" class="link tag {{ tag.color }}">{{tag.name}}
                        <svg class="link__graphic link__graphic--stroke link__graphic--scribble" width="100%" height="5" viewBox="-0.1 1.45556 7.592 0.6444" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M 0 2 C 1 1 11 2 6 2" stroke-width="0.2" fill="none" pathLength="0.9"></path></svg>                    </a>
                </div>
                <div class='hook_con'>
                    <img class='hook' src='/static/gallery/images/hook.svg'>
                </div>
            </div>
            
            {% endfor %}
        </div>    
    </div>
    <div class='imagecontainer'>
        <div class="selected_tags">
            {% if selected_tags %}
            {% for s_tag in selected_tags %}
            <div class="tag_paper selected_tag">
                <div class="tag_text {{ s_tag.color }}">
                    {{ s_tag.name }}
                </div>
                <div class='hook_con'>
                    <img class='hook' src='/static/gallery/images/hook.svg'>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="gallery">
            {% if page_images %}
                {% for image in page_images %}
                        {% if image.is_video %}
                        <div class='image video'>
                            <hr style="
                                        border: none;
                                        position: absolute;
                                        border-bottom: 4px dashed #fff8f1;
                                        width: 100%;
                                        border-top: 4px dashed #fff8f1;
                                        top: -1.25em;
                                      ">
                                      <img class="thumb" src="/media/thumbnails/{{ image.id }}.jpg" alt="">
                            <hr style="
                                        border: none;
                                        position: absolute;
                                        border-bottom: 4px dashed #fff8f1;
                                        width: 100%;
                                        border-top: 4px dashed #fff8f1;
                                        bottom: -1.25em;
                                      ">
                        {% else %}
                            <div class='image'>
                        <img class="thumb" src="/media/thumbnails/{{ image.id }}.jpg" alt="">
                        {% endif %}
                        </div>
                {% endfor %}
                </ul>
            {% else %}
                <p>No images are available.</p>
            {% endif %}
        </div>
        <div class='paginator'>
            {% if page_images.has_previous %}
            <a class='page_button' id='first_page' href="?page=1" class=prev><i class="gg-arrow-left-r"></i></a>
            <a class='page_button' href="?page={{ page_images.previous_page_number }}" class=prev><i class="gg-arrow-left-o"></i></a>
            {% else %}
            <a class='page_button deactivated' id='first_page' href="?page=1" class=prev><i class="gg-arrow-left-r"></i></a>
            <a class='page_button deactivated' href="?page=1" class=prev><i class="gg-arrow-left-o"></i></a>
            {% endif %}
            <p class='page_count'> {{page_images.number}} </p>
            {% if page_images.has_next %}
            <a class='page_button' href="?page={{ page_images.next_page_number }}" class=next><i class="gg-arrow-right-o"></i></a>
            <a class='page_button' id='last_page' href="?page={{ page_images.paginator.num_pages }}" class=next><i class="gg-arrow-right-r"></i></a>
            {% else %}
            <a class='page_button deactivated' href="?page={{ page_images.number }}" class=next><i class="gg-arrow-right-o"></i></a>
            <a class='page_button deactivated' id='last_page' href="?page={{ page_images.paginator.num_pages }}" class=next><i class="gg-arrow-right-r"></i></a>
            {% endif %}
        </div>
    </div>
</div>

<!-- the place you load this is relevant! placing in the head doesn't work. -->
{% load static %}
<script src="{% static 'gallery/gallery.js' %}"></script>
{% endblock %}
