{% extends "base.html" %}
{% block head %}
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-r.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css' rel='stylesheet'>

{% endblock %}
{% block title %}Tags{% endblock %}
{% block content %}
    <div id="searchbox">
        <form action="/tags/" method="get">
            <input id="tag_search" type="text" name="tag_search" placeholder="Search tags..." class='textbox' style='
                margin-left: 30%;
                width: 40%;
                margin-top: 3%;
                margin-bottom: 5%;'>
            <button type="submit" class="search_button"><i class="gg-search"></i></button>
        </form>
</div>

<div id="tag_page_container">
<div class="tags">
    {% for tag in tags %}
    <div class='tag_paper'>
        <div class='tag_text'>
            <a href="/?tag_list={{tag.name}}" class="link tag {{ tag.color }}">{{tag.name}}
            </a>
            <p>{{ tag.image__count }}</p>
        </div>
        <div class='hook_con'>
            <img class='hook' src='/static/gallery/images/hook.svg'>
        </div>
    </div>
    {% endfor %}
</div>    
</div>

    <div class='paginator'>
        {% if tags.has_previous %}
        <a class='page_button' id='first_page' href="?page=1" class=prev><i class="gg-arrow-left-r"></i></a>
        <a class='page_button' href="?page={{ tags.previous_page_number }}" class=prev><i class="gg-arrow-left-o"></i></a>
        {% else %}
        <a class='page_button deactivated' id='first_page' href="?page=1" class=prev><i class="gg-arrow-left-r"></i></a>
        <a class='page_button deactivated' href="?page=1" class=prev><i class="gg-arrow-left-o"></i></a>
        {% endif %}
        <p class='page_count'> {{tags.number}} </p>
        {% if tags.has_next %}
        <a class='page_button' href="?page={{ tags.next_page_number }}" class=next><i class="gg-arrow-right-o"></i></a>
        <a class='page_button' id='last_page' href="?page={{ tags.paginator.num_pages }}" class=next><i class="gg-arrow-right-r"></i></a>
        {% else %}
        <a class='page_button deactivated' href="?page={{ tags.number }}" class=next><i class="gg-arrow-right-o"></i></a>
        <a class='page_button deactivated' id='last_page' href="?page={{ tags.paginator.num_pages }}" class=next><i class="gg-arrow-right-r"></i></a>
        {% endif %}
    </div>


    <form action="/tags/" method="post">
        {% csrf_token %}
        <input id="tag_upload" name="name" type="text" class="textbox" placeholder="Add new tag..." style='
                margin-left: 30%;
                width: 40%;
                margin-bottom: 1%;'>
        <button type="submit" class="search_button" id="tag_add_fix"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
              fill="currentColor"
            />
          </svg></button>

        <div id='choice_holder'>
            <label class='label'>
                <input name="category" type='radio' id='tag_normal' value="N" checked />
                <div class='N'>Normal</div>    
            </label>
            <label class='label'>
                <input name="category" type='radio' id='tag_char' value="G" />
                <div class='G'>Character</div>                
            </label>
            <label class='label'>
                <input name="category" type='radio' id='tag_artist' value="R" />
                <div class='R'>Artist</div>                
            </label>
            <label class='label'>
                <input name="category" type='radio' id='tag_cprt' value="P" />
                <div class='P'>Series</div>                
            </label>
        </div>

    </form>
{% endblock %}