{% extends "base.html" %}
{% block title %} Upload Media {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if not errors %}
    {% else %}
    {% for error in errors %}
        <h2 class="error">{{ error }}</h2>
    {% endfor %}
    {% endif %}
    <div class='sidebar' id="upload_content">
        <form action="/upload/" method="post" enctype="multipart/form-data" id="uploadform">
            {% csrf_token %}
            <div class="form-group file-area">
                <input type="file" name="uh" id="upload_box" required="required" accept="image/*, video/*" required multiple onchange="loadFile(event)"/>
                <div class="file-dummy">
                    <div class="success">Files submitted!</div>
                    <div class="default">Select files...</div>
                </div>
            </div>
        
            
            <!--<label for='upload_box' class='custom_file_upload'>Upload Files...</label>-->
            <!--<input style="display: none;" id="upload_box" name="uh" type="file" accept="image/*, video/*" multiple onchange="loadFile(event)"></input> -->
            <button type="submit" class="file_submit" style="position: relative;top: 5px;" id="fileuploadsubmit" disabled><div>Submit!</div></button>
        </form>
    </div>
    <div class='gallery' id='upload_gallery'>

    </div>

    {% load static %}
    <script src="{% static 'gallery/upload.js' %}"></script>

{% else %}
    <p>You must be logged in to upload media.</p>
{% endif %}
{% endblock %}