{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <style>
      td > input[type='text'], td > input[type='password'] {
        border-radius: 10px;
        border: none;
        padding: 10px 5px;
      }
      
    </style>
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <label for='upload_box' class='custom_file_upload'>Log In</label>
    <input style="display: none;" id="upload_box" name="uh" type="submit"></input>


    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}